{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_room_index') }}"><i class="fa fa-times" aria-hidden="true"></i>
    </a>
{% endblock %}
