{% extends 'room/home.html.twig' %}

{% block messages %}
        {% for message in messages %}

            {{ include('message/_show.html.twig') }}

        {% endfor %}
<div class="newMessage">
</div>


                {{ include('message/_form.html.twig') }}
    <script>
        const eventSource = new EventSource("{{ mercure('https://example.com/app/room/' ~ room.id  )|escape('js') }}");
        let test =document.querySelector(".newMessage")
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            let message = JSON.parse(event.data)
            console.log(JSON.parse(event.data), test);
            test.insertAdjacentHTML(
                'beforeend',
                `<div class="card col-6">
        <div class="card-header">
           ${message.username + " " + message.createdAt}
        </div>
        <div class="card-body">

            <p class="card-text">${ message.content }</p>
        </div>
    </div>`

            )

        }
    </script>
{% endblock %}
