<div class="input-group">
    {{ form_start(form) }}

    {{ form_widget(form) }}
<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-paper-plane" aria-hidden="true"></i>
</button>
    {{ form_end(form) }}

</div>

