{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <h1>Edit Message</h1>

    {{ include('message/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_room_show', {'id': roomId }) }}"><i class="fa fa-times" aria-hidden="true"></i>
    </a>

{% endblock %}
